<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All exercises</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body style="background-color:#eaf2ed;  text-align: center; font-family: Times New Roman">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ url_for('index') }}">GymGenius</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Exercises
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ url_for('all_ex') }}">View All</a>
          <a class="dropdown-item" href = "{{url_for('exercises_list', chosen_bodypart = 'Popular')}}">Popular</a>
        </div>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{{ url_for('nutrition') }}">Nutrition Calculator</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('about') }}">About</a>
      </li>
    </ul>
  </div>
</nav>

    <div class="card">
  <div class="card-body">
    <h5 class="card-title">Want to see all?</h5>
    <a href="list exercises/all" class="btn btn-success">Press here</a>
  </div>
</div>
    <p> <br> </p>

    <div class="row tm-mb-90 tm-gallery" style="display: flex; justify-content: center; align-items: center; height: 100vh; margin: 0;">
        {% for bodypart in ["cardio", "waist", "back", "chest", "upper arms", "lower arms", "shoulders", "lower legs", "upper legs"] %}
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
    <div class="card" style="width: 10cm; border-style: solid;">
      <a href="{{url_for('exercises_list', chosen_bodypart = 'Popular')}}">
  <img class="card-img-top" src="{{ url_for('images', filename=bodypart+'.jpg') }}" alt="Card image cap">
          </a>
  <div class="card-body">
    <h5 class="card-title" style="text-align:center;">{{bodypart}}</h5>
  </div>
</div>
      </div>
        {% endfor %}
        </div>




<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>